node-red/rhasspy_handler.json
[{"id":"875ce481.0b6f28","type":"tab","label":"Rhasspy handler","disabled":false,"info":""},{"id":"d260005c.44993","type":"http in","z":"875ce481.0b6f28","name":"Detect intent","url":"/intent","method":"post","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["ac1ab467.2ab8d8","2eaa1bde.4a2274"]]},{"id":"ac1ab467.2ab8d8","type":"debug","z":"875ce481.0b6f28","name":"Print request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":40,"wires":[]},{"id":"2eaa1bde.4a2274","type":"switch","z":"875ce481.0b6f28","name":"Commands","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetTime","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":100,"wires":[["2d34da48.351116"],["e7ea17a9.900e2"]]},{"id":"e7ea17a9.900e2","type":"template","z":"875ce481.0b6f28","name":"Unrecognized","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n  \"data\": {\n    \"intent\": {\n      \"name\": \"unrecognized\",\n      \"confidence\": 0\n    }\n  },\n  \"speech\": {\n    \"text\": \"Kommando nicht erkannt.\"\n  }\n}","output":"json","x":480,"y":140,"wires":[["5af3cfbf.016ff"]]},{"id":"5af3cfbf.016ff","type":"http response","z":"875ce481.0b6f28","name":"Send answer","statusCode":"","headers":{"Content-Type":"application/json"},"x":850,"y":80,"wires":[]},{"id":"8eaddc6b.6ff1a","type":"template","z":"875ce481.0b6f28","name":"Intent response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"intent\": {\n    \"name\": \"GetTime\",\n    \"confidence\": 0\n  },\n  \"speech\": {\n    \"text\": \"{{ payload }}\"\n  },\n  \"wakeId\": \"\",\n  \"siteId\": \"default\",\n  \"time_sec\": 0.010800838470458984\n}","output":"json","x":660,"y":80,"wires":[["5af3cfbf.016ff"]]},{"id":"2d34da48.351116","type":"function","z":"875ce481.0b6f28","name":"Tell date/time","func":"// get current time and date\nnow = new Date();\n\n// get day, month, year\nday = now.getDate();\nmonth = now.toLocaleString('default', { month: 'long' });\nyear = now.getFullYear();\nhours = now.getHours();\nminutes = now.getMinutes();\n\n// set-up and return string\nmsg.payload = \"Heute ist der \" + day + \". \" + month + \" \" + year + \" und es ist \" + hours + \" Uhr \" + minutes + \".\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["8eaddc6b.6ff1a"]],"outputLabels":["Ausgabe"]}]