node-red/room_handler.json
[{"id":"ddea3b1a.0beee","type":"tab","label":"Room handler","disabled":false,"info":""},{"id":"f9d8f415.1af2","type":"mqtt in","z":"ddea3b1a.0beee","name":"Bath temperature","topic":"bath/temperature","qos":"2","datatype":"auto","broker":"39750ff5.cf83d","x":120,"y":60,"wires":[["ffc9affb.4c50f8"]]},{"id":"ffc9affb.4c50f8","type":"change","z":"ddea3b1a.0beee","name":"Store bath temperature","rules":[{"t":"set","p":"temperature[\"bath\"]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[[]]},{"id":"fd5559f8.cf13f8","type":"mqtt in","z":"ddea3b1a.0beee","name":"Bath humidity","topic":"bath/humidity","qos":"2","datatype":"auto","broker":"39750ff5.cf83d","x":110,"y":120,"wires":[["84541e0.487b0e"]]},{"id":"84541e0.487b0e","type":"change","z":"ddea3b1a.0beee","name":"Store bath humidity","rules":[{"t":"set","p":"humidity[\"bath\"]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[[]]},{"id":"39750ff5.cf83d","type":"mqtt-broker","z":"","name":"fixme","broker":"127.0.0.1","port":"1883","clientid":"NodeRED","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
